<div class="post_loop_item">
    <div class="post-cat"> {{ for tag in post.tags }} {{ post.tags }} {{ endfor }}</div>
    <div class="post-date">{{ post.created_at }}</div>
    <h3 class="post-title">{{ post.title }}</h3>

    <img src="{{ post.featured_image || image_url }}" alt="Post Image">
</div>