{%- liquid
    
    assign base_price = item.base_price | times: 1.0
    assign comparing_price = item.comparing_price | times: 1.0
    
    assign discount = base_price | minus: comparing_price
    assign discount = discount | divided_by: comparing_price 
    assign discount = discount |  times: 100 | round: 0

    assign whats_included_list = item.whats_included | split: '|'
    assign step_items = item.step_items | split: '|'

    assign new_included_list = '' 
    assign new_step_items = ''

    for included_item in whats_included_list
        assign new_string = included_item | append: ',' | prepend: 'check_'
        assign new_included_list = new_included_list | append: new_string
    endfor

    for step_item in step_items
        assign new_string = step_item | append: ',' | prepend: 'no_'
        assign new_step_items = new_step_items | append: new_string
    endfor

    assign new_included_list = new_included_list | split: ','
    assign new_step_items = new_step_items | split: ','
    

    assign all_items = '' | split: ''
    assign all_items = all_items | concat: new_included_list
    assign all_items = all_items | concat: new_step_items
   

-%}

<div class="bundle-item">
    <div class="bundle-details">
        {{- item.image | image_url: width: 150 | image_tag: decoding: 'async' , draggable: false -}}
        <div class="bundle-title">{{ item.bundle_title }}</div>
    
        <div class="bundle-price" >
            <span class="base-price">${{ item.base_price  }}</span>
           
            {% if item.comparing_price != blank  %}
                <span class="discount-price">${{ item.comparing_price  }}</span>
            {% endif %}
    
        </div>
    </div>
    <div class="bundle-discount">{{ discount }}% OFF</div>    
<div class="what-included-wrapper hidden">
    <div class="included-header flex space-between align-item-center">
        <h3>What's Included</h3>
        <div class="bundle-price" >
            <span class="base-price">${{ item.base_price  }}</span>
           
            {% if item.comparing_price != blank  %}
                <span class="discount-price">${{ item.comparing_price  }}</span>
            {% endif %}
    
        </div>
    </div>
    <div class="included-content grid cols-2 cols-2-mobile gap-12">
        <div class="list_items">
            {%- for item in new_included_list -%}
                <div class="icon-list-item">
                    <span class="icon">{% render 'check-icon' %}</span>
                    <span class="text">{{ item }}</span>
                </div>
            {% endfor  %}
        </div>
        {% comment %} <div class="list-items">
            {%- for item in whats_included_list -%}
                <div class="icon-list-item">
                    <span class="icon">{% render 'check-icon' %}</span>
                    <span class="text">{{ item }}</span>
                </div>
            {% endfor  %}
        </div>
       <div class="step-items">
            {%- for item in step_items -%}

              
                    <div class="icon-list-item gap-5 step-item">
                        <span class="icon" >{% render 'close-icon' %}</span>
                        <span class="badge-custom" >Free</span>
                        <span class="text">{{ item }}</span>
                    </div> 
             
            {% endfor  %}
        </div> {% endcomment %}
    </div>
    <div class="included-footer flex align-item-start gap-5">
        <img src="{{ 'warning.jpg' | asset_url  }}" class="pt-3" alt="warning" width="12" height="10"  decoding= "async">
        <span> You're 4 times more likely to reach your body goals if you subscribe. Plus you can easily cancel anytime. Reconsider subscribing.</span>
    </div>
</div>

</div>

