{%- liquid
    
    assign base_price = item.base_price | times: 1.0
    assign comparing_price = item.comparing_price | times: 1.0
    
    assign discount = base_price | minus: comparing_price
    assign discount = discount | divided_by: comparing_price 
    assign discount = discount |  times: 100 | round: 2

-%}

<div class="bundle-item">
    <div class="bundle-details">
        {{- item.image | image_url: width: 150 | image_tag: decoding: 'async' , draggable: false -}}
        <div class="bundle-title">{{ item.bundle_title }}</div>
    
        <div class="bundle-price" >
            <span class="base-price">${{ item.base_price  }}</span>
           
            {% if item.comparing_price != blank  %}
                <span class="discount-price">${{ item.comparing_price  }}</span>
            {% endif %}
    
        </div>
    </div>
    

    <div class="bundle-discount">{{ discount }}% OFF</div>
</div>