{%- render 'section-spacing-collapsing' -%}

{%- assign text_position = section.settings.text_position -%}

{%- comment -%}
------------------------------------------------------------------------------------------------------------------------
CSS
------------------------------------------------------------------------------------------------------------------------
{%- endcomment -%}

<style>
  #shopify-section-{{ section.id }} {
    --section-stack-intro: {% if text_position == 'center' %}50%{% else %}33.3333%{% endif %};
    --section-stack-main: {% if text_position == 'center' and section.settings.expand_image %}100%{% else %}66.6667%{% endif %};

    --before-after-initial-drag-position: {{ section.settings.drag_initial_position }}%;
  }
</style>

{%- comment -%}
------------------------------------------------------------------------------------------------------------------------
LIQUID
------------------------------------------------------------------------------------------------------------------------
{%- endcomment -%}

<div {% render 'section-properties' %}>
  <div class="section-stack {% if text_position != 'center' %}section-stack--horizontal{% else %}section-stack--center{% endif %} {% if text_position == 'end' %}section-stack--reverse{% endif %}">
    {%- capture content -%}
      {%- if section.settings.subheading != blank -%}
        <p class="bold">{{ section.settings.subheading | escape }}</p>
      {%- endif -%}

      {%- if section.settings.title != blank -%}
        <h2 class="h2">{{ section.settings.title | escape }}</h2>
      {%- endif -%}

      {{- section.settings.content -}}
    {%- endcapture -%}

    {%- if content != blank -%}
      <div class="section-stack__intro">
        <div class="prose {% if text_position == 'center' %}text-center{% endif %}">
          {{ content }}
        </div>
      </div>
    {%- endif -%}

    <div class="section-stack__main">

      {% render 'before-after-image' 
        before_text_color: section.settings.before_text_color, 
        after_text_color: section.settings.after_text_color,
        text_position: text_position, 
        expand_image: section.settings.expand_image,
        before_image: section.settings.before_image,
        after_image: section.settings.after_image,
        before_after_text_position: section.settings.before_after_text_position,
        before_text: section.settings.before_text,
        after_text: section.settings.after_text
        drag_cursor_background: section.settings.drag_cursor_background,
        drag_cursor_color: section.settings.drag_cursor_color
      %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Before/after image",
  "class": "shopify-section--before-after-image",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "custom.overlay"]
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Full width",
      "default": true
    },
    {
      "type": "text",
      "id": "subheading",
      "label": "Subheading"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Before/after"
    },
    {
      "type": "richtext",
      "id": "content",
      "label": "Content",
      "default": "<p>Showcase your product benefit by using before/after image comparison.</p>"
    },
    {
      "type": "image_picker",
      "id": "before_image",
      "label": "Before image",
      "info": "2000 x 1200px .jpg recommended"
    },
    {
      "type": "image_picker",
      "id": "after_image",
      "label": "After image",
      "info": "Dimensions must match before image."
    },
    {
      "type": "checkbox",
      "id": "expand_image",
      "label": "Expand image",
      "info": "Only applicable when text position is set to center.",
      "default": false
    },
    {
      "type": "select",
      "id": "text_position",
      "label": "Text position",
      "options": [
        {
          "value": "start",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "end",
          "label": "Right"
        }
      ],
      "default": "start"
    },
    {
      "type": "select",
      "id": "before_after_text_position",
      "label": "Before/after text position",
      "options": [
        {
          "value": "top",
          "label": "Top"
        },
        {
          "value": "bottom",
          "label": "Bottom"
        }
      ],
      "default": "top"
    },
    {
      "type": "text",
      "id": "before_text",
      "label": "Before text",
      "default": "Before"
    },
    {
      "type": "text",
      "id": "after_text",
      "label": "After text",
      "default": "After"
    },
    {
      "type": "range",
      "id": "drag_initial_position",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Drag initial position",
      "default": 50
    },
    {
      "type": "header",
      "content": "Colors",
      "info": "Gradient replaces solid colors when set."
    },
    {
      "type": "color",
      "id": "background",
      "label": "Background"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Background gradient"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text"
    },
    {
      "type": "color",
      "id": "before_text_color",
      "label": "Before text",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "after_text_color",
      "label": "After text",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "drag_cursor_background",
      "label": "Drag cursor background",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "drag_cursor_color",
      "label": "Drag cursor color",
      "default": "#000000"
    }
  ],
  "presets": [
    {
      "name": "Before/after image"
    }
  ]
}
{% endschema %}