{{ 'product-grid-with-photo.css' | asset_url | stylesheet_tag }}


<div style="background-color: {{ section.settings.bg_color }} " >
    <div class="container">
        <h2 style="text-align:center" >{{ section.settings.heading }}</h2>
        <div class="grid cols-2 tablet-lg-cols-1  gap-40" >
            <div class="grid-item">
                <div class="col-img relative">
                    {% if  section.settings.col_img != blank %}
                        <a href="{{ section.settings.img_url }}">
                            {{- section.settings.col_img | image_url: width: section.settings.col_img.width | image_tag: loading: 'lazy', decoding: 'async' , draggable: false, alt: 'Column image' -}}
                        </a>
                        <a class="button" href="{{ section.settings.img_url }}">{{ section.settings.btn_text }}</a>
                    {% endif %}
                </div>
            </div>
            <div class="grid-item">
                <div class="top-product">
                    {% render 'custom-horizontal-product' product: section.settings.top_prod %}
                </div>
                <div class="bottom-products grid cols-2 gap-20">
                    {% for product in section.settings.bottom_prods %}
                        {% if forloop.index == 1 %}
                            {% render 'custom-horizontal-product' product: product img: section.settings.bottom_img_1  %}
                        
                            {% else %}
                            {% render 'custom-horizontal-product' product: product img: section.settings.bottom_img_2  %}
                        {% endif %}

                    {% endfor %}
                </div>
            </div>
        </div>
    </div>    
</div>




{% schema %}
    {
        "name": "Product Grid - Photo",
        "class": "product-grid-col-photo",
        "settings": [
            {
                "type": "color",
                "label": "Background Color",
                "id": "bg_color"
            },
            {
                "type": "text",
                "label": "Heading",
                "id": "heading"
            },
            {
                "type": "image_picker",
                "label": "Column Image",
                "id": "col_img"
            },
            {
                "type": "text",
                "label": "Button Text",
                "id": "btn_text"
            },
            {
                "type": "url",
                "id": "img_url",
                "label": "Image Url"
            },
            {
                "type": "product",
                "label": "Top Product",
                "id": "top_prod"
            },
            {
                "type": "product_list",
                "id": "bottom_prods",
                "label": "Bottom Products",
                "limit": 2
            },
           {
            "type": "image_picker",
            "id": "bottom_img_1",
            "label": "Bottom Image 1"
           },
           {
            "type": "image_picker",
            "id": "bottom_img_2",
            "label": "Bottom Image 2"
           }
        ],
        "presets": [
            {
               "name": "Product Grid with Photo"
            }
        ]
    }
{% endschema %}

