{%- render 'css_async', css: 'routine.css', section_index: section.index -%}


<div class="section-wrapper {{ section.settings.extra_class }}">
    <div class="container">

        <div class="headings">
            <div class="subheading">{{ section.settings.subheading }}</div>
            <h2 class="heading" >{{ section.settings.heading }}</h2>
        </div>
    
    
        <div class="grid cols-2 gap-40">
            <div class="grid-item lazyload-bg" data-src="{{ section.settings.image | image_url }}">
    
             
                
            </div>
            <div class="grid-item">
                {% for step in section.blocks %}
                    <div class="step-item">
                        <h3>{{ step.settings.heading }}</h3>
                        <h4>{{ step.settings.subheading }}</h4>
                        <p>{{ step.settings.text }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    
    </div>
    
</div>


{% schema %}
    {
        "name": "Routine",
        "class": "routine",
        "settings": [
            {
                "type": "text",
                "id": "extra_class",
                "label": "Extra CSS Classes"
            },
            {
                "type": "image_picker",
                "label": "Image",
                "id": "image"
            },
            {
                "type": "text",
                "id": "heading",
                "label": "Heading"
            },
            {
                "type": "text",
                "id": "subheading",
                "label": "Subheading"
            }
        ],
        "blocks": [
            {
               "type": "slide",
               "name": "Step",
               "settings": [
                {
                    "type": "text",
                    "id": "heading",
                    "label": "Heading"
                },
                {
                    "type": "text",
                    "id": "subheading",
                    "label": "Subheading"
                },
                {
                    "type": "textarea",
                    "id": "text",
                    "label": "Text"
                }
               ]
            }
        ],
        "presets": [
            {
              "name": "routine"
            }
        ]
    }
{% endschema %}