{{ 'tiktok-carousel.css' | asset_url | stylesheet_tag }}
{{ 'splide.min.css' | asset_url | stylesheet_tag }}

<div class="section-wrapper-margin">

  <div class="container">
          <div class="heading-wrapper">
              <h2>{{ section.settings.heading }}</h2>
              <p>{{ section.settings.text }}</p>
          </div>

          <div class="splide tiktok-carousel">
            <div class="splide__track">
              <div class="splide__list">
                {% for item in section.blocks %}
                  <div class="splide__slide">
                    {% render 'video-item' video: item %}
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
  </div> 
 
</div>

<script src="{{ 'splide.min.js' | asset_url }}" defer></script>
<script defer>
    function init() {
        const splide = document.querySelector('.splide.tiktok-carousel');

        const config = {
          arrows: true,
          pagination: false,
          perPage: 4,
          gap: 20, 
          autoscroll: {
            speed: 1000,
          },
          breakpoints: {
            768: {
              perPage: 3,
            }
          }
        }; 
        const splideInstance = new Splide(splide, config);
    
        if (splide.classList.contains('autoscroll')) { 
          deferAutoScroll(function () {
            splideInstance.mount(window.splide.Extensions);
          });
        } else {
          splideInstance.mount();
        }
      }
    
      function deferAutoScroll(method) {
        if (typeof window.splide != 'undefined') {
          method();
        } else {
          setTimeout(function () {
            deferAutoScroll(method);
          }, 50);
        }
      }
    
      function deferSplide(method) {
        if (typeof Splide != 'undefined') {
          method();
        } else {
          setTimeout(function () {
            deferSplide(method);
          }, 50);
        }
      }
    
      deferSplide(init);
</script>
 
{% schema %}
    {
        "name": "Tiktok Carousel",
        "class": "tiktok-carousel",
        "settings": [
            {
                "type": "text",
                "id": "heading",
                "label": "Heading"
            },
            {
                "type": "richtext",
                "id": "text",
                "label": "Text"
            }
        ],
        "blocks": [
          {
            "type": "slide",
            "name": "Video",
            "settings": [
                {
                    "type": "paragraph",
                    "content": "For best visual results and avoid platform branding, use a MP4 file."
                  },
                  {
                    "type": "checkbox",
                    "id": "is_in_loop",
                    "label": "This widget is in a Loop?",
                    "default": false
                  },
                  {
                    "type": "checkbox",
                    "id": "full_width",
                    "label": "Full width",
                    "default": true
                  },
                  {
                    "type": "checkbox",
                    "id": "allow_transparent_header",
                    "label": "Allow transparent header",
                    "info": "This setting only applies when this section is the first one.",
                    "default": false
                  },
                  {
                    "type": "checkbox",
                    "id": "autoplay",
                    "label": "Autoplay",
                    "info": "Video are muted to allow autoplay. For best results, do not add any content on top of the video when autoplay is enabled.",
                    "default": false
                  },
                  {
                    "type": "select",
                    "id": "video_size",
                    "label": "Video size",
                    "options": [
                      {
                        "value": "auto",
                        "label": "16/9 (recommended)"
                      },
                      {
                        "value": "sm",
                        "label": "Small"
                      },
                      {
                        "value": "md",
                        "label": "Medium"
                      },
                      {
                        "value": "lg",
                        "label": "Large"
                      },
                      {
                        "value": "fill",
                        "label": "Fill screen"
                      }
                    ],
                    "default": "auto"
                  },
                  {
                    "type": "video",
                    "id": "video",
                    "label": "Video",
                    "info": "Replaces external video if both are set."
                  },
                  {
                    "type": "video_url",
                    "id": "external_video_url",
                    "accept": ["vimeo", "youtube"],
                    "label": "Video URL",
                    "default": "https://www.youtube.com/watch?v=_9VUPq3SxOc"
                  },
                  {
                    "type": "image_picker",
                    "id": "poster",
                    "label": "Poster image",
                    "info": "3200 x 1600px .jpg recommended. Poster is not visible when autoplay is enabled."
                  },
                  {
                    "type": "header",
                    "content": "Colors"
                  },
                  {
                    "type": "color",
                    "id": "text_color",
                    "label": "Text",
                    "default": "#ffffff"
                  },
                  {
                    "type": "color",
                    "id": "overlay_color",
                    "label": "Overlay",
                    "default": "#000000"
                  },
                  {
                    "type": "range",
                    "id": "overlay_opacity",
                    "label": "Overlay opacity",
                    "min": 0,
                    "max": 100,
                    "step": 1,
                    "unit": "%",
                    "default": 30
                  }
            ]
        }
        ],
        "presets": [
            {
               "name": "Tiktok Carousel"
            }
        ]
    }
{% endschema %}
