{{ 'body-parts-icon.css' | asset_url | stylesheet_tag }}
{{ 'two-cols-body-part.css'| asset_url | stylesheet_tag }}

<div class="container">

    <div class="grid cols-2" style="" >
        <div class="grid-item lazyload-bg" data-src="{{ section.settings.image | image_url }}">
    
             
                
        </div>
        <div class="grid-item gradient-bg-100 flex flex-column align-item-start justify-content-center">

            <div class="headings center">
                <div class="subheading">{{ section.settings.subheading }}</div>
                <h2>{{ section.settings.heading }}</h2>
            </div>
          

            <div class="body-parts-wrapper">
                <div class="grid cols-3 gap-20 cols-2-mobile">
                    {% for body_p in section.blocks %}
                        <div class="body-part">
                            <div class="body-icon">{{ body_p.settings.icon }}</div>
                            <h3> {{  body_p.settings.title  }} </h3>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

</div>

{% schema %}
    {
        "name": "2 Cols Body Part",
        "class": "two-cols-body-part",
        "settings": [
            {
                "type": "image_picker",
                "id": "image",
                "label": "Image"
            },
            {
                "type": "text",
                "id": "heading",
                "label": "Heading"
            },
            {
                "type": "text",
                "id": "subheading",
                "label": "Subheading"
            }
        ],
        "blocks": [
            {
                "type": "slide",
                "name": "Body Part",
                "settings": [
                    {
                        "type": "text",
                        "label": "Title",
                        "id": "title"
                    },
                    {
                        "type": "html",
                        "label": "Icon Svg",
                        "id": "icon"
                    }
                ]
            }
        ],
        "presets": [
            {
              "name": "2 Columns Body Part Section"   
            }
        ]
    }
{% endschema %}
