
{{ 'two-cols-products.css' | asset_url | stylesheet_tag }}

<div
  class="products-wrapper"
  style="background-color: {{ section.settings.bg_color }};"
>
  <div class="container">
    <h2 style="text-align: {{ section.settings.title_alignment }}">
      {{ section.settings.title }}
    </h2>
     <p class="deschome">
         {{ section.settings.description }}
    </p>
    <div class="grid cols-3 gap-40">
      {% for product in section.settings.products %}
        <li class="grid-item">
            {%- render 'product-card-new', product: product, stacked: false, background: section.settings.product_card_background, text_color: section.settings.product_card_text_color, show_badges: true -%}
        </li>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
    {
        "name": "Two Columns Products",
        "class": "two-cols-products-section",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Title"
              },
           {
                "type": "text",
                "id": "description",
                "label": "Description"
              },
              {
                "type": "text_alignment",
                "id": "title_alignment",
                "label": "Alignment"
              },
            {
                "type": "product_list",
                "id": "products",
                "label": "Products",
                "limit": 3
            },
            {
                "type": "color",
                "label": "Background Color",
                "id": "bg_color",
                "default": "transparent"
            },
            {
              "type": "color",
              "id": "product_card_background",
              "label": "Product card background"
            },
            {
              "type": "color",
              "id": "product_card_text_color",
              "label": "Product card text"
            }

        ],
        "presets": [
            {
              "name": "Two Columns Products",
              "category": "Text"
            }
          ]
    }
{% endschema %} 