{{'two-cols-img-carousel.css' | asset_url | stylesheet_tag }}


<div class="container">
    <div class="grid cols-2 gap-40 align-item-center">
        <div class="grid-item">
             
            <div class="left-info">
                <h2 class="heading" >{{ section.settings.heading }}</h2>
                <h3 class="subheading" >{{ section.settings.subheading }}</h3>
                <p class="text" >{{ section.settings.text }}</p>

                {{- section.settings.image | image_url: width: section.settings.image.width | image_tag: loading: 'lazy', decoding: 'async' , draggable: false -}}
                
            </div>
  
        </div>
        <a href="{{ section.settings.img_url }}" class="grid-item relative">  
            <div class="carousel-top-message">At-Home SkinPetra’s Products</div>
            <div class="image-carousel">          
                 {{- section.settings.right_img | image_url: width: section.settings.right_img.width | image_tag: loading: 'lazy', decoding: 'async' , draggable: false -}}    
            </div>
        </a>
    </div>
</div>




{% schema %}
    {   
        "name": "2 Cols Image Carousel",
        "class": "two-cols-image-carousel",
        "settings": [
            {
                "type": "text",
                "id": "heading",
                "label": "Heading"
            },
            {
                "type": "text",
                "id": "subheading",
                "label": "Sub Heading"
            },
            {
                "type": "textarea",
                "id": "text",
                "label": "Text"
            },
            {
                "type": "image_picker",
                "id": "image",
                "label": "Image"
            },
            {
                "type": "image_picker",
                "id": "right_img",
                "label": "Right Image"
            },
            {
                "type": "url",
                "id": "img_url",
                "label": "Image Url"
            }
        ],
        "presets": [
            {
               "name": "2 Cols Image Carousel"
            }
        ]
    }
{% endschema %}