{{'two-cols-img-carousel.css' | asset_url | stylesheet_tag }}


<div class="container">
    <div class="grid cols-2">
        <div class="grid-item">
        
            <h2>{{ section.settings.heading }}</h2>
            <h3>{{ section.settings.subheading }}</h3>
            <p>{{ section.settings.text }}</p>
            
            <img src="//shop-sitetest.myshopify.com/cdn/shop/files/07c7995e598f637918823e6733524978.png?v=1714104320" alt="logos">
           
    
        </div>
        <div class="grid-item">
            <div class="splide image-carousel">
                <div class="splide__track">
                    <div class="splide__list">
                        <div class="splide__slide">
                            {% for item in section.blocks %}
                                <img src="{{ item.settings.image | image_url }}" alt="img slide" />
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% schema %}
    {   
        "name": "2 Cols Image Carousel",
        "settings": [
            {
                "type": "text",
                "id": "heading",
                "label": "Heading"
            },
            {
                "type": "text",
                "id": "subheading",
                "label": "SubHeading"
            },
            {
                "type": "textarea",
                "id": "text",
                "label": "Text"
            }
        ],
        "blocks": [ 
            {
                "type": "slide",
                "name": "Image",
                "settings": [
                    {
                        "type": "image_picker",
                        "label": "Image",
                        "id": "image"
                    }
                ]
            }  
        ],
        "presets": [
            {
               "name": "2 Cols Image Carousel"
            }
        ]
    }
{% endschema %}