{{ 'what-make-it-special.css' | asset_url | stylesheet_tag }}

<div class="section-wrapper">
    <div class="container">
        
        <div class="grid 2-cols">
            <div class="grid-item">
                {{- section.settings.image | image_url: width: section.settings.image.width | image_tag: loading: 'lazy', decoding: 'async' , draggable: false -}}
            </div>
            <div class="grid-item">
                <h2>{{ section.settings.heading }}</h2>
                <div class="heading-divider"></div>

                {% for item in section.blocks %}
                    <div class="subsection">
                        <h3>{{ item.heading }}</h3>
                        <p>{{ item.text }}</p>
                    </div>
                {% endfor %}

                <div class="info-text">
                    {{ section.settings.info_text }}
                </div>
            </div>
        </div>

    </div>
</div>

{% schema %}
    {
        "name": "What Makes It Special",
        "class": "what-make-it-special",
        "settings": [
            {
                "type": "image_picker",
                "id": "image",
                "label": "Image"
            },
            {
                "type": "text",
                "id": "heading",
                "label": "Heading"
            },
            {   
                "type": "richtext",
                "id": "info_text",
                "label": "Info Text"
            }
        ],
        "blocks": [
            {
                "type": "slide",
                "name": "Sub Section",
                "settings": [
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Title"
                    },
                    {
                        "type": "textarea",
                        "id": "text",
                        "label": "Text"
                    }
                ]
            }
        ],
        "presets": [
            {
              "name": "What Makes It Special"
            }
        ]
    }
{% endschema %}